body {
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  color: $pv-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), var(--font-inter), system-ui, sans-serif;
  font-weight: 700;
  color: $pv-dark;
}

a {
  text-decoration: none;
  @include transition-smooth(color);
}

img {
  max-width: 100%;
  height: auto;
}
